*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    height: 50px;
    width: 100%;
    background-image: url(../images/logo/logo.jpg);
    background-size: cover;
}

.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

.delivery-to-text{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.delivery-address{
    display: flex;
    align-items: center;
}

.delivery-address-text{
    font-size: 1rem;
    margin-left: 2px;
}

.nav-search{
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.nav-search-select{
    /* height: 100%; */
    width:50px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    text-align: center;
}

.nav-search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.nav-search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #14b2f6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}

.nav-sign-in-title{
    font-size: 0.7rem;
}

.nav-sign-in{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-return-title{
    font-size: 0.7rem;
}

.nav-return{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-panel{
    height: 40px;
    background-color:#2a2b2b;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-panel a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 12px;
}

.nav-panel a:hover{
    color:#14b2f6;
}

.panel-options{
    width: 70%;
    font-size: 0.85rem;
}

.hero-section{
    height: 450px;
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-location-msg{
    height: 40px;
    width: 80%;
    margin-bottom: 20px;
    background-color: #14b2f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #d3d3d3;
}

.top-content-card{
    height: 400px;
    width: 23%;
    background-color: #ffffff;
    margin-top: 15px;
    text-align: center;
}

.card-image{
    height: 300px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.card-image img{
    height: 100%;
    width: 90%;
    /* object-fit: fill; */
}